@import 'nib'

@font-face
    font-family 'open_sansregular'
    src url('fonts/OpenSans-Regular-webfont.eot')
    src url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype')
        url('fonts/OpenSans-Regular-webfont.woff') format('woff')
        url('fonts/OpenSans-Regular-webfont.ttf') format('truetype')
        url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg')
	font-weight normal
	font-style normal

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments
	html.ie8 &,
	html.ie7 &,
	html.ie6 &
		border 2px solid arguments[length(arguments) - 1]

article
	min-height 200px

body
	font-size 16px
	font-family 'open_sansregular'
	background url('fondo.png')

#contenido
	background linear-gradient(top, #ccc,#fff)
	border 1px solid #666
	border-radius 5px
	box-shadow 1px 1px 1px #666 
	margin .5em 0
	text-align justify
	width 100%

#contenido1
	padding 1%
	& #imagenSvg
		float left
		margin 0 .5em .5em 0

#contenido2
	padding 1%
	& #imagenJpg
		float left
		margin 0 .5em .5em 0

#contenido1
#contenido2
	margin-bottom 15px

#contenido2 #imagenJpg
	width 150px

@media screen and (min-width 600px)
	#contenido
		width 99%
	#contenido article
		display block

	#contenido2
		margin-left 0px

	#contenido1
	#contenido2
		width 98%

@media screen and (min-width: 950px)
	#contenido
		margin .5em auto
		min-height 500px
		width 950px

	#contenido:after
		clear both
		content ""
		display block

	#contenido1
		float left
		width 58%

	#contenido2
		float right
		width 35%
